<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lino Flix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="logo.jpg" integrity= "anonymous"></script>

</head>
<body>

   
    <header id= home>
      <div id=logotipo><center>
        <a id="logo" href="#home"><img src="/img/logo.jpg" alt="Logo Image"></a></center>
      </div>      
      <div id="divBusca">
        <img src="search3.png" alt=""/>
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <img src="search4.png" alt="Buscar..." id="btnBusca"/>
      </div>
      <nav class="main-nav">                
        <a href="#cadastro">Cadastrar</a>
        <a href="#alterar">Alterar</a>
        <a target="_blank" href=https://www.facebook.com/thiago.leao.737001>Portfolio</a>        
      </nav>
      
    </header>
    <section>
        <form action="/criar" method="POST">
            <div>
                <label for="nome">Digite o nome do filmes</label>
            </div>
            <div>
                <input type="text" name="nome" id="nome" placeholder="Nome do filmes" required>
            </div>
            <div>
                <input type="text" name="descricao" id="descricao" placeholder="Descrição" required>
            </div>
            <div>
                <input type="text" name="imagem" id="imagem" placeholder="Link da imagem" required>
            </div>
            <button type="submit">Cadastrar</button>
    </section>
    <footer>
        <p>&copy 2021 Linoflix, Inc.</p>
        <p>Thiago Lino & Maria Nascimento &copy 2021</p>
      </footer>
    </div>
    
    <script src="script.js"></script>
  </body>
  </html>