<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blue Filmes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="logo.png" integrity= "anonymous"></script>

</head>
<body>
<div include-html="/view/index.ejs" id="teste"></div>
   
    <header id= home>
      <div id=logotipo><center>
        <a id="logo" href="/"><img src="/img/logo.png" alt="Logo Image"></a></center>
      </div>      
     
        <nav class="main-nav">   
        <a href="/">Home</a>                
        <a href="/criar">Cadastrar</a>
                     
      </nav>
    </header>
         
    <section id="inscrever">

        <form action="/deletar/<%= filme.id %>" method="POST">
            <div id=fr>
                <label for="nome">Digite o nome do filme: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome do filme" value="<%= filme.nome %>">
            </div>
        
            <div id=fr>
                <label for="descricao">Digite a descrição do filme: </label>
                <input type="text" name="descricao" id="descricao" placeholder="Descrição" value="<%= filme.descricao %>">
            </div>

            <div id=fr>
                <label for="imagem">Coloque o link para a imagem do filme: </label>
                <input type="text" name="imagem" id="imagem" placeholder="Link da imagem" value="<%= filme.imagem %>">
            </div>
        
            <!-- <button type="submit">Editar</button> -->
            <button type="submit">Deletar</button>
        </form>
    </section>

    <footer><center>
      <p>&copy 2021 Blue Filmes, Inc.</p>
      <p>Thiago Nascimento Lino Leão & Maria Clara Nascimento Melo &copy 2021</p>
    </footer></center>
    </div>
    
    <script src="script.js"></script>
  </body>
  </html>