<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lino Flix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/img/logo.png" integrity= "anonymous"></script>

<head>
<body>

   
    <header id= home>
      <div id=logotipo><center>
        <a id="logo" href="/"><img src="/img/logo.png" alt="Logo Image"></a></center>
      </div>      
            <nav class="main-nav">  
        <a href="/">Home</a>              
        <a href="/criar">Cadastrar</a>
            <a target="_blank" href=https://www.facebook.com/thiago.leao.737001>Portfolio</a>        
      </nav>
      
    </header>
<body>
  <section id="cursos">
    <h3>Lista de filmes:</h3>

        <section class="card">

            <article id="content">
                    <ul>
                        <li>Nome: <%= filme.nome %></li>
                        <li>Descrição: <%= filme.descricao %></li>
                        <a href="/">
                            <img src="<%= filme.imagem %>" width=200>
                        </a>
                    </ul>
                   
            </article>
            
        </section>
</section>
   
<footer>
  <p>&copy 2021 Linoflix, Inc.</p>
  <p>Thiago Lino & Maria Nascimento &copy 2021</p>
</footer>
</div>

<script src="script.js"></script>
</body>
</html>