<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lino Flix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="logo.jpg" integrity= "anonymous"></script>

</head>
<body>
  <section id="cursos">
    <h3>Lista de filmes:</h3>

        <section class="card">

            <article id="content">
                    <ul>
                        <li>Nome: <%= filme.nome %></li>
                        <li>Descrição: <%= filme.descricao %></li>
                        <a href="/">
                            <img src="<%= filme.imagem %>" width=200>
                        </a>
                    </ul>
                                   
            </article>

        </section>
</section>
   
    <header id= home>
      <div id=logotipo><center>
        <a id="logo" href="#home"><img src="/img/logo.jpg" alt="Logo Image"></a></center>
      </div>      
      <div id="divBusca">
        <img src="search3.png" alt=""/>
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <img src="search4.png" alt="Buscar..." id="btnBusca"/>
      </div>