<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lino Flix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="logo.jpg" integrity= "anonymous"></script>

</head>
<body>

   
    <header>
      <div id=logotipo><center>
        <a id="logo" href="#home"><img src="/img/logo.jpg" alt="Logo Image"></a></center>
      </div>      
      <nav class="main-nav">                
        <a href="#acao">Filmes de ação</a>
        <a href="#cadastro">Cadastrar</a>
        <a href="#alterar">Alterar</a>
        <a target="_blank" href=https://www.facebook.com/thiago.leao.737001>Portfolio</a>        
      </nav>
      
    </header>
  
    
 
    <section class="main-container" >
               <div class="box">
                   
            <a href=""><img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/91/08/82/20128877.JPG" alt=""></a>
            <a href=""><img src="https://s2.glbimg.com/XB79hteOI21lG_EWJlZS_pU_1Ds=/top/e.glbimg.com/og/ed/f/original/2018/04/23/1_sJdmoN3.jpg" alt=""></a>
            <a href=""><img src="https://media.fstatic.com/7XemKYH1XtxN4MkKaVz1fYJpYp4=/290x478/smart/media/movies/covers/2011/07/f8503d117d5560c07478c1fde344a4e8.jpg" alt=""></a>
            <a href=""><img src="https://br.web.img3.acsta.net/c_310_420/pictures/13/12/30/18/11/111145.jpg" alt=""></a>
            <a href=""><img src="http://4.bp.blogspot.com/-QsQ0C3dfJvQ/UX_4CAwm-WI/AAAAAAAAAFU/3S6R25TseMU/s1600/Wall+Street+2+O+Dinheiro+Nunca+Dorme.jpg" alt=""></a>
            <a href=""><img src="https://cinemaemcena.com.br/uploads/criticas_old/filmes-1383-cartazes-986.jpg" alt=""></a>
           
         
               </section>
      

 
    <footer>
      <p>&copy 2021 Linoflix, Inc.</p>
      <p>Thiago Lino &copy 2021</p>
    </footer>
  </div>
  
  <script src="script.js"></script>
</body>
</html>