/* .img{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4.9rem 3rem 3rem 3rem;
}

header h1 {
  color: rgb(44, 32, 32);
  font-size: 5.5rem;
  text-shadow: 0 0 1rem #160f0f60;
  text-align: center;
}

a.card {
  width: 20rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #e6d9d9(154, 182, 108);
  color: #000;
  text-decoration: none;
}

a.card:hover {
  transform: scale(1.1);
}

a.card img {
  width: 15rem;
  height: 15rem;
}

a.card h2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: cadetblue;
}

a.card h3 {
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #000;
}

section#filmes {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
:root {
  --primary: #e6d9d9;
  --light: #f3f3f3;
  --dark: #686868;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}
.home {
  color: rgb(44, 32, 32);
  font-size: 24px;
  text-shadow: 0 0 1rem #160f0f60;
  text-align: center;
}
.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: cadetblue;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0,5rem;
}
nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}
section#inscrever {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0 20rem 10rem 20rem;
  box-shadow: 0 0 1rem #00000060;
  border-radius: 1rem;
}

section#inscrever form {
  width: 100%;
  padding: 3rem;
}

section#inscrever form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 0.1rem solid #ccc;
}
section#inscrever form div label {
  font-size: 1.3rem;
  color: cadetblue;
}

section#inscrever form button {
  border: 1px solid cadetblue;
  background-color: #fff;
  color: cadetblue;
  padding: 1rem;
  font-size: 0.8vw;
  font-weight: 600;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 40%;
}
footer {
  color: cadetblue;
  align-items: center;
}
.filmes,
h3 {
  color: cadetblue;
}
button {
  padding: 20px;
  border: none;
  outline: none;
  width: 80px;
  color: rgb(116, 105, 105);
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  background-color: cadetblue;
}
.card {
  margin: 0 20rem 0 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6d9d9;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
}

section#detalhes {
  margin: 0 20rem 0 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6d9d9;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
}

article#content ul li {
  color: cadetblue;
}
.imagem {
  display: flex;
  justify-content: center;
}
