/* .img{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4.9rem 3rem 3rem 3rem;
}

header h1 {
  color: rgb(44, 32, 32);
  font-size: 5.5rem;
  text-shadow: 0 0 1rem #160f0f60;
  text-align: center;
}

a.card {
  width: 20rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #e6d9d9(154, 182, 108);
  color: #000;
  text-decoration: none;
}


a.card:hover {
  transform: scale(1.1);
}

a.card img {
  width: 15rem;
  height: 15rem;
}

a.card h2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: #000;
}

a.card h3 {
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #000;
}

section#filmes {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
:root {
  --primary: #e6d9d9;
  --light: #F3F3F3;
  --dark: 	#686868;
}


html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}
 .home{
  color: rgb(44, 32, 32);
  font-size: 24px;
  text-shadow: 0 0 1rem #160f0f60;
  text-align: center;
 }
 .main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;  
}








